{% extends 'padre.html' %}

{% block ContenidoQueCambia %}


<h1>Iniciar Sesión</h1>
<container>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password.errors }}
        </div>

        <button type="submit">Iniciar Sesión</button>
    </form>

    <p>No tienes una cuenta? <a href="{% url 'signup' %}">Registrarse</a></p>
</container>
{% endblock ContenidoQueCambia %}