{% extends 'padre.html' %}

{% block ContenidoQueCambia %}


<h2>Iniciar Sesión</h2>
<container>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.username.errors }}
        </div>
        <br>
        <div class="fieldWrapper">
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password.errors }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>

    <p>No tienes una cuenta? <a href="{% url 'signup' %}" class="btn btn-secondary">Registrarse</a></p>
</container>
{% endblock ContenidoQueCambia %}