<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'inicio_usuario' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'listarSocios' %}">Noticias</a>
        <a class="navbar-brand" href="{% url 'listarDeportes' %}">Eventos</a>
        <a class="navbar-brand" href="{% url 'listarEventos' %}">Deportes</a>
        <a class="navbar-brand" href="{% url 'listarEventos' %}">Nosotros</a>
        <a class="navbar-brand" href="{% url 'profile' %}">Mi Usuario</a>
        <a class="navbar-brand" href="{% url 'logout' %}">Cerrar sesion</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

    </div>
</nav>