{% extends 'padre.html' %}

{% block ContenidoQueCambia %}
<container>
    <h2>Perfil de {{ perfil.username }}</h2>
    <ul>
        <li><strong>Nombre completo:</strong> {{ perfil.first_name}} {{perfil.last_name}}</li>
        <li><strong>Correo Electrónico:</strong> {{ perfil.email }}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</li>
        <li><strong>Dirección:</strong> {{ perfil.domicilio }}</li>
        <li><strong>Número de Teléfono:</strong> {{ perfil.telefono }}</li>
    </ul>
    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Editar Perfil</a>
    <a href="{% url 'change_password' %}"  class="btn btn-secondary">Cambiar Contraseña</a>
    <br><br>

</container>
{% endblock %}