{% extends 'padre.html' %}

{% block ContenidoQueCambia %}

<ul>

    {% for deporte in deportes %}
    <li> {{deporte}} </li>
    <div style="display: flex; column-gap: 5px;">
    
        <form action="{% url 'eliminarDeportes' deporte.id %}" method="post">{% csrf_token %}
            <button type="submit"> Eliminar </button>
        </form>
        <button>
            <a href="{% url 'actualizarDeportes' deporte.id %}"> Editar</a>
        </button>
    </div>
    {% endif %}
    {% endfor %}

</ul>

{% endblock ContenidoQueCambia %}