{% extends 'padre.html' %}
{% load static %}
{% block ContenidoQueCambia %}
<div class="row mt-4 px-4 px-lg-5 gx-4 gx-lg-5 align-items-center mx-auto my-5">
        <div class="col-lg-7">
            <img src="{% static 'default_evento.jpg' %}" width="500" height="300" alt="Avatar por defecto">
        </div>
        <div class="col-lg-5">
        <p><strong style="text-transform: uppercase;">{{evento.deporte}}</strong></p>
            <h2 class="font-weight-light">{{evento.titulo}}</h2>
            <h6>Evento programado para el día {{evento.fecha}}</h6>
            <p>{{evento.descripcion}}</p>
{% if user.is_authenticated %}
        <form method="post" action="{% url 'agregar_evento' %}">
            {% csrf_token %}
            <input type="hidden" name="evento" value="{{evento.id}}">
            <button type="submit" class="btn btn-primary btn-block">Reservar</button>
        </form>
        {% else %}
        <p>¿Quieres Reservar? <a class="btn btn-primary btn-block" href="{% url 'login' %}">Inicia Sesión</a></p> 
        {% endif %}
        </div>
</div>
{% endblock ContenidoQueCambia %}