{% extends 'padre.html' %}

{% block ContenidoQueCambia %}
<p> {{mensaje}} </p>
{% if user.is_staff %}

        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Noticias</h2>
                        <p class="card-text">Accede al formulario para crear nuevas noticias.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'crearNoticias' %}">Crear
                            Noticia</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Deportes</h2>
                        <p class="card-text">Accede al formulario para crear nuevos deportes.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'crearDeportes' %}">Crear Deporte</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Eventos</h2>
                        <p class="card-text">Accede al formulario para crear nuevos eventos.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'crearEventos' %}">Crear Evento</a></div>
                </div>
            </div>
        </div>
{% endif %}    
        <div class="row mt-4 px-4 px-lg-5 gx-4 gx-lg-5 align-items-center mx-auto my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0"
                    src='https://th.bing.com/th/id/R.de5332d78d30002465b6833e0306f414?rik=WKZUzATy8fLkDA&pid=ImgRaw&r=0'
                    alt="Imagen Principal" width="500" height="300" />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Club Atletico Central Cordoba</h1>
                <p>Bienvenidos a la sede virtual del Club Atletico Central Cordoba de Rosario.<br> Aquí podrá asociarse,
                    consultar los
                    deportes y
                    eventos proximos!</p>
            </div>
        </div>
{% endblock ContenidoQueCambia %}