{% extends 'padre.html' %}

{% block ContenidoQueCambia %}

<ul>

    {% for socio in socios %}
    <li> {{socio}} </li>
    <div style="display: flex; column-gap: 5px;">
        <form action="{% url 'eliminarSocios' socio.id %}" method="post">{% csrf_token %}
            <button type="submit"> Eliminar </button>
        </form>
        <button>
            <a href="{% url 'editarSocios' socio.id %}"> Editar</a>
        </button>
    </div>

    {% endfor %}

</ul>

{% endblock ContenidoQueCambia %}