<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'listarSocios' %}">Buscar socios</a>
        <a class="navbar-brand" href="{% url 'listarDeportes' %}">Buscar deportes</a>
        <a class="navbar-brand" href="{% url 'listarEventos' %}">Buscar eventos</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>

    </div>
</nav>