{% extends 'padre.html' %}

{% block ContenidoQueCambia %}
<div class="container mt-4 mb-4 px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="col-lg-7">
            {% if noticia.imagen %}
            <img src="{{ noticia.imagen.url }}" alt="Imagen de Noticia" class="img-fluid w-100 h-auto">
            {% endif %}
        </div>
        <div class="col-lg-5">
            <h2 class="font-weight-light">{{noticia.titulo}}</h2>
            <h5>Tema: {{noticia.tema}}</h5>
            <p>{{noticia.desarrollo}}</p>
            <p>Fecha: {{noticia.fecha}}</p>
            <br><br><br>
        </div>
        {% endblock ContenidoQueCambia %}